RewriteEngine On
# Please change the RewriteBase to the Base Directory of your public domain path to WebFramework (e.G. example.org/webframework/ -> RewriteBase /webframework/)
RewriteBase /

# Exclude requests for img, css, and js directories
RewriteRule ^(img|css|js)/(.*)$ - [L]

# Only rewrite if the request is not for a real file or directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Capture the entire path and pass it as a GET parameter "path"
RewriteRule ^(.*)$ index.php?rpath=$1 [QSA,L]
