<!doctype html>
<html lang="en">
    <head>
        {![bootstrap_head]}
    </head>
    <body>
        <h1>WF-Bootstrap Docs</h1>
        <_container size="md">
            <_row>
                <_col breakpoint="xxl" size="6">
                    This is a XXL Column
                </_col>
                <_col breakpoint="xxl" size="6">
                    This is another XXL Column
                </_col>
            </_row>
        </_container>
        {![bootstrap_js]}
    </body>
</html>
